<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
    
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<title>Test_Task is  tree-type comments</title>

<!-- my styles -->
<link rel="stylesheet" href="/css/style.css"  type="text/css" />
<meta charset=UTF-8" />
</head>

<body>
<h1>TEST_TASK</h1>

<div id="menu">

<ul>
    <li><a href="/">Overview</a></li>
    <li><a href="/page_1">page_1</a></li>
    <li><a href="/page_2">page_2</a></li>
    <li><a href="/page_3">page_3</a></li>
</ul>

</div>

<div id="container">
  <div id="content">
    <% content %>
  </div>
</div>

<div id="footer">
  Powered by <a href="http://perldancer.org/">Dancer</a> 1.2002
</div>

</body>
</html>
