<% IF records.size %>
    <h2><% records.title_page %></h2>
    <div id="page"><% records.content_page %></div>
<% ELSE %>
    <p>Unbelievable.  No records here so far</p>
<% END %>
<code><% all %></code>
